body {
  font-family: 'Vazir', sans-serif;
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 20px 0;
} 
h2{
  color: #030303d5;
}
.head{
  color: #ccc;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  background: #3b3e3f55;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.product-card h2 {
  margin: 10px 0;
}

.image-placeholder {
  width: 100%;
  height: 180px;
  background-color: #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 8px 16px;
  background-color: #0e3911c2;
  color: rgb(239, 253, 238);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
   transition: all 150ms ease-in-out;
}

button:hover {
  background-color: #13461490;
  transform: scale(1.05);
  transition: all 150ms ease-in-out;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  gap: 10px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
} 
.product-page {
    text-align: center;
}
.product-list{
  text-align: center;

} 
.product-description {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-bottom: 8px;
} 
.product-card h2,
.product-card p {
  margin: 5px 0;
  text-decoration: none; 
  white-space: normal;   
  line-height: 1.6;      
  text-align: center;    
}

.product-card a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #7a8e969a;
}
.View-product {
  color: #f2f9f1;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
 transition: all 200ms ease-in-out;

}
.View-product:hover {
  color: #5a6169;
  text-decoration: underline;


} 
.cart{
  text-align: center;

}
.image-placeholder {
 width: 100%;
  height: 180px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ddd;
}
.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

